# Dependency folders
node_modules/
venv/
.env

# Compiled files
*.exe
*.o
*.dll

# Temporary files
*.log
*.swp

# IDE/editor-specific files
.vscode/
.idea/

# Environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive information
secrets.txt
passwords.txt
api_keys.json
