{% extends "layout.html" %} {% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-login" style="color: white">
      {{ form.hidden_tag() }}
      <h1 class="mb-4 font-weight-big">Release&Acquire</h1>
      <h1 class="h3 mb-3 font-weight-normal">Kindly login</h1>
      <br />
      {{ form.email.label() }} {{ form.email(class="form-control",
      placeholder="Email Address") }} {{form.password.label() }} {{
      form.password(class="form-control", placeholder="Password") }}
      <br />
      {{ form.remember(class="form-check-input") }} {{
        form.remember.label(class="form-check-label") }}
        <br>

      {{ form.submit(class="btn btn-lg btn-primary") }}
    </form>
  </div>
  <br>
  <div class="checkbox mb-3">
    <h6>Do not have an account?</h6>
    <a class="ml-2" href="{{ url_for('register_page') }}">Sign Up Now</a>
  </div>
</body>
{% endblock content %}
