<style>
    .modal-content {
        background-color: #bf40bf;
    }
  </style>


<!-- Modal for Sell this item -->
<div class="modal fade" id="Modal-SellItem-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ owned_item.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ selling_form.hidden_tag() }}

            <h4 class="text-center">
              Are you sure you want to sell {{ owned_item.name }} for ${{ owned_item.price }} ?
            </h4>
            <h6 class="text-center">
              By clicking Sell, you will put this product back in the market for sale.
            </h6>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">
              {{ selling_form.submit(class="btn btn-outline-danger btn-block", style="background-color: #bb1414") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Modal for More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ owned_item.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ owned_item.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="margin-bottom: 5px;" data-bs-toggle="modal" data-bs-target="#Modal-DeleteItem-{{ owned_item.id }}">Delete</button>
        <button type="button" class="btn btn-primary" style="margin-bottom: 5px;" data-bs-toggle="modal" data-bs-target="#Modal-EditItem-{{ owned_item.id }}">
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Edit items -->
<div class="modal fade" id="Modal-EditItem-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ owned_item.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ updateitem_form.hidden_tag() }}
          <div class="mb-3">
            <label for="name" class="col-form-label">Product Name:</label>
            <input type="text" class="form-control" name="name" value="{{ owned_item.name }}">
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price:</label>
            <input type="text" class="form-control" name="price" value="{{ owned_item.price }}">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Product Description:</label>
            <textarea class="form-control" name="description">{{ owned_item.description }}</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input id="update_item" name="update_item" type="hidden" value="{{ owned_item.id }}">
              {{ updateitem_form.submit(class="btn btn-outline-success btn-block", style="background-color: darkgreen") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Delete -->
<div class="modal fade" id="Modal-DeleteItem-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ owned_item.name }}?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ owned_item.name }}
      </div>
      <form method="POST">
          {{ deleteitem_form.hidden_tag() }}

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="margin-bottom: 5px;" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo-{{ owned_item.id }}">NO</button>
            <input id="delete_item" name="delete_item" type="hidden" value="{{ owned_item.id }}">
              {{ deleteitem_form.submit(class="btn btn-outline-danger btn-block", style="background-color: #bb1414") }}
          </div>
        </form>
    </div>
  </div>
</div>
